.home__view {
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.home__view .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
.home__view h2,
.home__view h4,
.home__view p {
	margin: 0;
}
.home__view button {
	color: #222;
	font-weight: 700;
}
.loading {
	height: 100vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.photo img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}
