.stream_view {
	width: 100%;
	height: 500px;
	background: #000;
	display: flex;
	justify-content: center;

	&.live {
		.play_view {
			width: 100%;
		}
	}

	.play_view {
		width: 888px;
		height: 100%;
		background: lighten($color: #c1914b, $amount: 20%);

		display: flex;
		justify-content: center;
		align-items: center;
	}
}
